.container-recipes {
  height: 100%;
  margin-top: 70px;
  width: 100%;
}

.container-recipes h1{
  margin-bottom: 2rem;
  padding: 2rem;
  border-bottom: 5px solid #f8f8f8;
  
  text-transform: capitalize;
}

.recipes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}



.info-recipes {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.info-recipes h4 {
  font-size: 0.9rem;
  color: #f36405;
}
.info-recipes p {
  font-size: 0.8rem;
}

.rating {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.rating p {
  width: 30px;
  height: 10px;
}

#btn-recipe{
  width: 80px;
  height: 30px;
  border-radius: 14px;
  border: none;
  background-color: #f36405;
  color: #fff;
  margin-top: 1rem;
  cursor: pointer;
}

#btn-recipe:hover{
  background-color: #fff;
  color: #f36405;
  transition: 0.3s ease;
  transform: scale(1.05);
  border: 1px solid #f36405;
}

.recipe-skeleton {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
 
}

.skeleton{
  border-radius: 20px;
}
