#sidebar {
  flex: 1 1 0;
}

#categories,
#tags {
  padding: 1.5rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  position: relative;
  width: 100%;
}

#categories ul li {
  margin-bottom: 10px;
}
#categories h4,
#tags h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container-categories ul li a:hover {
  color: #f36405;
}

.search-bar {
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.search-bar input {
  height: 30px;
  border-radius: 20px 0 0 20px;
  outline: none;
  border: none;
  padding: 0.5rem;
}

.btn-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 0 20px 20px 0;
  background-color: #0000003f;
}

.btn-search a:hover {
  color: #fff;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tags-container a {
  background-color: #ddd;
  padding: 0.5rem 0.7rem;
  border-radius: 0.3rem;
}

.acord-list {
  position: absolute;
  right: 20px;
  top: 30px;
  cursor: pointer;
}
